body {
    /* overflow-y: hidden; Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }


.slide-container{
    position: relative;
    width: 100%;
}
.slide img{
    width: 100%;
}
.arrow{
    position: absolute;
    top: 28%;
    background-color: rgb(255, 255, 255, 0.8);
    padding: 8px 20px;
    border-radius: 18%;
    font-size: 25px;
    font-weight: bold;
}
.last{
    right: 10px;
}
.first {
    left: 10px;
    
}

.caption{
    color:white;
    font-size:24px;
    margin-top: -3.9%; 
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.841);
    padding: 10px 0px;
}
.slide{
    display: none;
}

@media screen and (min-width: 375px) {

    .first {
    left: -19px;
    margin-top: -90px;
}

  .last {
        right: -19px;
        margin-top: -90px;
      
    }

    .arrow {
        
       background-color: rgb(255, 255, 255, 1);
        
    } 
  }
